.text1 {
  color: #707b7c;
  font-size: 14px;
}

.title1 {
  font-size: 16px;
  font-weight: bold;
}

.radio {
  border-radius: 15px;
}

.menu-main {
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;

}