.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.pa-12 {
    padding: 48px !important;
}

.text-subtitle-1 {
    font-size: 1rem !important;
    font-weight: normal;
    line-height: 1.75rem;
    letter-spacing: 0.009375em !important;
    font-family: "Roboto", sans-serif;
    text-transform: none !important;
}